* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

.navbar{ 
    background-color: salmon;
    display: flex;
    height: 100px;
    align-items: center; 
    justify-content: center;
    opacity: .5;
}

.logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: aliceblue;
    margin-left: 5%;
 }

.sections{
    display: flex;
    flex: 1;
    background-color: bisque;
    justify-content: space-around;
    margin-right: 5%;
}

.main{
    position: absolute;
    width: 100%;
}
  